---
import Layout from "../layouts/MainLayout.astro";
import Item from "../components/textBlock.astro";
---

<Layout title="Circuito Warrior Race" page="bases">
    <section class="flex flex-col items-center">
        <div class="max-w-5xl mx-4 my-10">
            <p>Las siguientes reglas son aplicables a la carrera de obstáculos Maspalomas Warrior Race by Playland 2023, en adelante WR 2023.</p>
            <p>En caso de duda ante la interpretación de cualquiera de las reglas de la prueba, prevalecerá siempre el criterio de la organización. Todos los participantes con su inscripción aceptan íntegramente el presente reglamento. </p>
            <p>La aceptación de este Reglamento, supone la aceptación del descargo de responsabilidad de participantes, detallado en el artículo 10.</p>

            <Item gray title="1. FECHAS Y LUGAR Y HORARIO">
                <p>Maspalomas Warrior Race by Playland  2023 se celebra el 25 y 26 de noviembre de 2023. en Gran Canaria, en el término municipal de Maspalomas, zona Barranco de Maspalomas, Parque Urbano del Sur y Campo de fútbol nº3. El horario en el se puede realizar la carrera de obstáculos, por tandas, se establece la siguiente manera, siempre quedando sujeto a modificaciones según criterio ajeno o propio de la organización: Sábado 25: 11:00-14:00 y 16:00 a 18:00, Domingo 26: 11:00-14:00 y de 16:00-18:00</p>
            </Item>

            <Item gray title="2. PARTICIPACIÓN Y EDAD MÍNIMA">
                <p>Podrá participar cualquier persona de cualquier nacionalidad, mayor de 5 años , cumplidos en el momento de realizar la carrera, que hayan aceptado el descargo de responsabilidad y la declaración física que aparece en el formulario de inscripción, la edad máxima de participación es de 99 años.</p>
            </Item>

            <Item gray title="3. SALIDAS DE LA CARRERA">
                <p>En WR 2023 la asignación de tandas será por decisión del participante, pudiendo inscribirse según su elección personal, una vez inscrito no se permitirán posteriores cambios y será obligatorio correr en la tanda seleccionada. Los participantes que quieran formar equipo, deberán estar inscritos en la misma tanda de salida. Las salidas se efectuarán por el sistema de tandas cada hora 50 participantes por tanda, la primera tanda será entre las 11:00 h., los participantes deberán estar en la zona de salida como mínimo 30 minutos antes del inicio de su tanda. Por megafonía se harán los correspondientes llamamientos para la formación de las salidas de la tanda correspondiente.</p>
            </Item>

            <Item gray title="4. CATEGORIAS Y PRECIOS.">
                <p>Playland Warrior Race 1,5K: Carrera con un trazado de aprox. 1,5km y 15 obstáculos. Se permite la ayuda de otros participantes para superar los obstáculos.Recomendada desde la organización para mayores de 5 años.
                    Warrior Race 3K: Carrera con un trazado de 3km y 20 obstáculos. Se permite la ayuda de otros participantes para superar los obstáculos.Recomendada desde la organización para mayores de 10 años.
                    Warrior Race Extreme 5K:Carrera con un trazado de 5km y 25 obstáculos. Se permite la ayuda de otros participantes para superar los obstáculos.Recomendada desde la organización para mayores de 13 años.
                    Warrior Race Xtreme 5K Adults Competitiva: Carrera con un trazado de 1,5km, y 25 obstáculos. Se permite la ayuda de otros participantes para superar los obstáculos y y si no es capaz de superarlo pagará con una prueba aleatoria. Carrera solo para mayores de 18 años.
                    PRECIOS WARRIOR RACE: 
                    “Maspalomas Warrior Race” 2023 será un evento gratuito, debiendo resgistrarse en Entradascanarias.com, una empresa ajena a nuestra organización, por lo que puede conllevar gastos de gestión ajenos a nosotros.</p>
            </Item>

            <Item gray title="5. SEGUROS">
                <p>Cada participante participa en alguna de las pruebas de las WR bajo su entera responsabilidad y posee un nivel de condición física suficiente para afrontar la misma. La organización dispondrá de una póliza seguro de responsabilidad civil.</p>
            </Item>

            <Item gray title="6. SEGURIDAD Y RECORRIDO">
                <p>El recorrido estará marcado y señalizado. Habrá monitores y personal sanitario presentes. Si te lesionas llamaremos inmediatamente por radio para solicitar ayuda. Si durante la competición te encuentras con algún lesionado/herido no intentes moverlo, avisa a la organización y alértale. Ellos se pondrán manos a la obra y llamarán por radio al servicio médico. </p>
            </Item>

            <Item gray title="7. SUSPENSIÓN DE LA PRUEBA">
                <p>La organización se reserva el derecho de variar el punto de llegada o salida, retrasar la hora de salida, cambiar la fecha o la suspensión de la misma. Si la salida llegara a producirse, la prueba se tendrá por realizada, aún en el caso de suspenderse durante su celebración. En caso de que la organización considere que las condiciones climáticas u otras contingencias ajenas a su voluntad ponen en riesgo la integridad física de los participantes, podrá disponer la postergación de la prueba. En tal caso no se reintegrará ni total ni parcialmente la inscripción.</p>
            </Item>

            <Item gray title="8. USO DE LOS DATOS DEL PARTICIPANTE">
                <p>La inscripción supone la autorización para el uso libre del nombre del participante y sus fotos en medios de difusión (emisión y programas de televisión o en su caso de radio) en la prensa, redes sociales o en cualquier otro tipo de medio acreditado y relacionado con la prueba. 2. La inscripción supone la autorización para la cesión de los siguientes datos del participante ( Nombre completo, sexo y DNI ) 3. De conformidad con lo establecido en la Ley Orgánica 3/2018 de 5 de diciembre , de Protección de Datos de Carácter Personal, se informa que la participación en la prueba implica el consentimiento para la incorporación de los datos personales facilitados al fichero automatizado existente para los organizadores. La finalidad de este fichero es el tratamiento para la gestión y desarrollo de la mencionada prueba así como en los campeonatos que se haya acogida dicha prueba.</p>
            </Item>

            <Item gray title="9. RESPONSABILIDAD DE LOS PARTICIPANTES">
                <h2>EXCLUSION DE RESPONSABILIDAD DE LA ORGANIZACIÓN</h2>
                <p>El evento cuenta con todos los permisos correspondientes para su celebración y aunque se pretende hacer una competición abierta y promocionar la práctica deportiva, la organización advierte de que la prueba es dura y además se dan en la misma los riesgos inherentes a la presencia de obstáculos naturales o artificiales. Es responsabilidad exclusiva del participante ser apto para la competición, es decir, gozar de buena salud en general, así como tener el nivel suficiente de preparación física, técnica y mental para afrontar una prueba de varios kilómetros y superando obstáculos. Deben de abstenerse quienes no reúnan o no crean reunir las condiciones de bonanza de salud y preparación deportiva suficiente para afrontar una competición de este carácter. Cada atleta declara con su inscripción que reúne las condiciones que posibilitan su participación en las WR 2023 sin generar mayores inconvenientes para su persona, el resto de los participantes y la organización. De forma plena y consciente, cada participante asume para si y como propios los riesgos derivados de su participación en la prueba, quedando completamente exonerada la organización de toda responsabilidad que pudiere surgir a consecuencia de los daños que la participación en la carrera pudiera conllevar a los participantes, sus causahabientes o a terceras personas. Responsabilidades: La Organización declina toda responsabilidad por los daños, perjuicios o lesiones que la participación en esta prueba pueda ocasionar a sí mismo, a otras personas e incluso en el caso de que terceras personas causen daños al participante. Todo participante, por el mero hecho de participar en la prueba, acepta las normas señaladas anteriormente, prevaleciendo en caso de duda el criterio de la Organización</p>
            </Item>

            <Item gray title="10. DESCARGO DE RESPONSABILIDAD">
                <p>Considerando que he realizado mi inscripción para alguna de las pruebas a celebrarse durante la WR 2023, me comprometo a cumplir las reglas que regulan la carrera. Además de las indicaciones de los monitores/as. Acepto este reglamento que se encuentra en la página web de la organización www.playlandgrancanaria.com. Por la presente:</p>
                <ul>
                    <li>Admito que soy el único responsable de todas mis posesiones y equipamiento deportivo durante el desarrollo de las WR 2023 y sus actividades colaterales.</li>
                    <li>Afirmo y verifico que estoy físicamente preparado y suficientemente entrenado para esta competición y que he pasado los reconocimientos médicos oportunos. Estando físicamente bien preparado para la competición, gozo de buena salud general, sin padecer enfermedad, defecto físico o lesión que pueda agravarse con mi participación en dicha prueba. Si durante la prueba, padeciera algún tipo de lesión o cualquier otra circunstancia que pudiera perjudicar gravemente mi salud, lo pondré en conocimiento de la Organización lo antes posible.</li>
                    <li>Acepto recibir bajo mi propio coste el tratamiento médico en caso de ser necesario por lesión, accidente y/o enfermedad durante las WR 2023. Siendo consciente de que este tipo de competiciones, al desarrollarse en el medio natural, en lugares de difícil control, conllevan un riesgo adicional para los participantes. Por ello, asisto de propia voluntad e iniciativa asumiendo íntegramente los riesgos y consecuencias derivadas de mi participación.</li>
                    <li>Permito el libre uso de mi nombre y cualquier imagen en cualquier publicación o medio de comunicación tomadas durante la WR 2023.</li>
                    <li>Eximo a la organización, directores del evento, colaboradores, patrocinadores y voluntarios de la WR 2023 de cualquier responsabilidad o reclamación por mi parte. Incluyendo cualquier perjuicio o lesión directa o indirecta y casos de muerte. No es aplicable si el daño o lesión es motivo de la mala acción o dejadez por parte de la organización.</li>
                    <li>Dispongo de capacidad física, destreza técnica y recursos de supervivencia suficientes como para garantizar mi propia seguridad, bajo las condiciones de autonomía en las que se desarrolla la prueba. Igualmente, dispongo del material deportivo y de seguridad exigido por la Organización y garantizo que se encuentra en buen estado, está homologado, utilizarlo adecuadamente y lo llevaré encima durante toda la competición.</li>
                    <li>Acepto y me comprometo a cumplir las normas y protocolos de seguridad establecidos por la Organización para la WR 2023, así como a mantener un comportamiento responsable que no aumente los riesgos para mi integridad física o psíquica. Seguiré las instrucciones y acataré las decisiones que tomen los responsables de la Organización (monitores/as médicos y organizadores) en temas de seguridad.</li>
                    <li>Autorizo a los Servicios Médicos de la prueba, a que me practiquen cualquier cura o prueba diagnóstica que pudiera necesitar estando o no en condiciones de solicitarla; ante sus requerimientos me comprometo a abandonar la prueba si ellos lo estiman necesario para mi salud.</li>
                    <li>Mi entrada es personal e intransferible por lo que no podrá llevarlo otro participante o persona alguna en mi lugar.</li>
                    <li>Conozco que la entidad organizadora, se reserva el derecho de admitir o no a algún participante, aun habiendo abonado los derechos de suscripción que me serían devueltos en caso de no ser admitido.</li>
                    <li>
                        <p>Me comprometo a seguir las pautas generales de respeto al medio ambiente: </p>
                        <ol>
                            <li>Transitar con prudencia por el camino marcado para la WR 2023.</li>
                            <li>No producir alteraciones en los procesos y en el funcionamiento natural de los ecosistemas.</li>
                            <li>No deteriorar los recursos, geológicos, culturales o, en general, del paisaje.</li>
                            <li>Sortear o evitar las zonas medio ambientalmente sensibles.</li>
                            <li>Realizar las necesidades fisiológicas en los lugares adecuados.</li>
                            <li>No verter ni abandonar objetos o residuos sólidos o líquidos fuera de los lugares habilitados usualmente para la recogida de los mismos.</li>
                        </ol>
                        <p>Los organizadores se reservan el derecho de cambiar o modificar cualquier información referente a la carrera o cancelar la misma por causas de fuerza mayor, publicándolo en la web oficial: www.playlandgrancanaria.com</p>
                    </li>
                </ul>
            </Item>
        </div>
    </section>
</Layout>
